################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj

# Ignore Visual Studio build artifacts
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.db
*.bak
*.log
*.tmp
